* {
    font-family: "Roboto", sans-serif;
}


body {
  font-family: "Helvetica Neue", Arial, sans-serif;

}
.main {
    max-width: 1400px;
    margin: 0 auto;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(280px, 1fr));

}
nav {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-side,
.right-side {
    display: inline-block;
}

.left-side {
    width: fit-content;
}
.right-side > a {
 padding: 16px;
}

.left-side > a > img {
    height: 48px;
    width: auto;
}
.banner {
    background-color: #FFDD33;
    height: 60px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

}
.main-articles {
    height: 547px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 8px;

}
.main-article1,
.main-article2,
.main-article3
 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background: url(/assets/img/main-article.jpg);
    background-size: cover;
    box-shadow: inset 0px 0px 30px 30px rgba(0,0,0,0.9);
    margin: 1vh 1vh;

}

.main-article1-text {
    grid-row: 2/2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    font-weight: bolder;
    margin: 1vh 1vh;


}

h5 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bolder;
}

.main-articles1  > img {
    object-fit: contain;
    width: auto;
    height: 100%;
}

.latest-new {
    display: grid;
    grid-template-rows: 30px repeat(8, 1fr);
    grid-gap: 10px;
    height: 879px;
    padding: 24px 0 0 0;
    margin: 0px 0px 28px 0px;
    
}

h2 > a {
    font-weight: boldER;
    font-size: 28px;
    color: #ff4422;
}
.latest-news > h2 {
    grid-column: 1/-1;
}

.latest-news {
    display: grid;
    grid-template-rows: 3.5fr .5fr .5fr;
    grid-template-columns: 75px 1fr;
    column-gap: 10px;
    margin: 0vh 2vh 0 3vh;

}

.latest-news-imgcontainer {
    grid-column: 1/1;
    height: 75px;
    overflow: hidden;
}
.latest-news-imgcontainer > img {
    height: 75px;
}
.latest-news > h4 {
    grid-column: 2/2;
    grid-row: 1/1;
    font-weight: bolder;
}
.latest-news > span {
    grid-column: 2/2;
    grid-row: 2/2; 
    font-size: 13px;
    color: #aaaaaa;

}
.latest-funding-header > h4 > a{
    color: #ff4422;
    font-weight: bolder;
}

.latest-funding1 {
    display: grid;
    grid-template-columns: 60px 1fr ;
    grid-template-rows: 40px 60px 82px 63px;
    margin: 10px;
}

.top {
    color: #ff4422;
    grid-column: 1/ span 2;
    grid-row: 1/1;
}

.latest-funding-title > h4 {
    font-size: 20px;
    color: black;
    padding: 10px;
}

.latest-funding1 img {
    float: left;
    width: 50px;
    height: 50px;

}
.latest-funding-title > h4 {
    grid-column: 2/3;
    grid-row: 1/1;
    background-color: #ff4422;
    
}
.latest-funding-title {


}

.latest-funding-subtitle {
    grid-column: 1/3;
    grid-row: 2/2;
    background-color: #FFF4F2;

}
.latest-funding-subtitle > h4,
.latest-funding-subtitle > h5 {
    color: black;
    font-size: 13px;
    padding: 10px;
}

