/* HTML */

* {
    font-family: "Roboto", sans-serif;
}


body {
  font-family: "Helvetica Neue", Arial, sans-serif;

}
.main {
    max-width: 1400px;
    margin: 0 auto;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(280px, 1fr));

}

/* NAVBAR */

nav {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-side,
.right-side {
    display: inline-block;
}

.left-side {
    width: fit-content;
}
.right-side > a {
 padding: 16px;
}

.left-side > a > img {
    height: 48px;
    width: auto;
}
.banner {
    background-color: #FFDD33;
    height: 60px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

/* MAIN ARTICLES */

.main-articles {
    height: 547px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 8px;

}
.main-article1,
.main-article2,
.main-article3
 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background: url(/assets/img/main-article.jpg);
    background-size: cover;
    box-shadow: inset 0px 0px 30px 30px rgba(0,0,0,0.9);
    margin: 1vh 1vh;

}

.main-article1-text {
    grid-row: 2/2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    font-weight: bolder;
    margin: 1vh 1vh;


}

h5 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bolder;
}

.main-articles1  > img {
    object-fit: contain;
    width: auto;
    height: 100%;
}

/* LATEST NEWS */

.latest-new {
    display: grid;
    grid-template-rows: 30px repeat(8, 1fr);
    grid-gap: 10px;
    height: 879px;
    padding: 24px 0 0 0;
    margin: 0px 0px 28px 0px;
    
}

h2 > a {
    font-weight: boldER;
    font-size: 28px;
    color: #ff4422;
}
.latest-news > h2 {
    grid-column: 1/-1;
}

.latest-news {
    display: grid;
    grid-template-rows: 3.5fr .5fr .5fr;
    grid-template-columns: 75px 1fr;
    column-gap: 10px;
    margin: 0vh 2vh 0 3vh;

}

.latest-news-imgcontainer {
    grid-column: 1/1;
    height: 75px;
    overflow: hidden;
}
.latest-news-imgcontainer > img {
    height: 75px;
}
.latest-news > h4 {
    grid-column: 2/2;
    grid-row: 1/1;
    font-weight: bolder;
}
.latest-news > span {
    grid-column: 2/2;
    grid-row: 2/2; 
    font-size: 13px;
    color: #aaaaaa;

}

/* LATEST FUNDING */

.latest-funding1,
.latest-funding2,
.latest-funding3 {
  width: 80vw;
  display: grid;
  grid-template-rows: 38px 57px 170px;
  margin: 0 auto;
}

.latest-funding img {
  width: 60px;
  height: 60px;
  position: absolute;
  margin: 10px;
  z-index: 1;
}

.latest-funding-title {
  background-color: #f42;
  color: white;
  padding: 10px 0 0 80px;
  font-size: 18px;
  font-weight: 700;
}

.latest-funding-subtitle {
  background-color: rgba(255, 68, 34, 0.08);
  padding: 10px 0 0 80px;
}

.latest-funding-subtitle h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

.latest-funding-subtitle h5 {
  font-size: 11px;
}

.latest-funding-info > hr {
  display: block;
  width: 100%;
  background: rgba(255, 67, 34, 0.247);
  height: 1px;
  border: 0;
  margin: 10px 0 0 0;
}

.latest-funding-info p {
  padding: 12px 10px 0 10px;
}

.latest-funding-info a {
  color: #555;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.latest-funding-info span {
  color: #aaa;
}

.latest-funding-info i {
  color: black;
  margin-right: 5px;
}

/* LATEST DEALS */

.deals {
  display: flex;
  flex-direction: column;
  padding: 80px 20px;
}

.deals h2 {
    padding: 8px 8px 15px 8px;
}

.deals > h2 > a {
    font-size: 28px;
    color: #f42;
    font-weight: 700;
}

.deals > h2 > a > i {
    font-size: 20px;
}

.deal-text > h5 > span {
  color: #555;
  margin-left: 10px;
}

.deals > h2 > a > span {
  float: right;
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
  white-space: nowrap;
}

.deal1,
.deal2,
.deal3,
.deal4,
.deal5,
.deal6,
.deal7,
.deal8 {
  display: grid;
  grid-template-columns: 75px 1fr;
  column-gap: 15px;
  padding: 8px;
}

.deal-imgconteiner {
  width: 75px;
  height: 75px;
  overflow: hidden;
}

.deal-imgconteiner img {
  height: 75px;
}

.deal-text h4 {
  line-height: 18px;
  font-weight: 700;
}

.deal-text h5 {
  padding-top: 5px;
}

.deal-text del {
  text-decoration: line-through;
  color: #aaa;
  font-size: 85%;
}

/* FOOTER */

footer {
  width: 100%;
}

.footer-more {
  background-color: #131313;
  padding: 3em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2em;
  width: 90%;
}

.footer-social i {
  color: whitesmoke;
  background-color: #555;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 2px solid #555;
  border-radius: 50%;
  margin: 3px;
}

.footer-social i:hover {
  color: whitesmoke;
  background-color: #131313;
}

.footer-links {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-links a {
  text-decoration: none;
  color: #555;
}

.footer-links li {
  list-style: none;
  line-height: 24px;
  font-weight: 500;
  margin: 0 10px;
}

.footer-links a:hover {
  color: whitesmoke;
}

.footer-legal {
  background-color: #000;
  color: #aaa;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding: 3em 0;
}

.footer-legal img {
  width: auto;
  height: 15px;
  filter: invert(100%);
}
