body {
}

a {
    color: black;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(280px, 1fr));

}
nav {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-side > a {
 padding: 16px;
}

.left-side > a > img {
    height: 48px;
}
.banner {
    background-color: #FFDD33;
    height: 60px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-articles {
    height: 547px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 8px;
}
.main-article1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background: url(/assets/img/main-article.jpg);
    background-size: cover;
}

.main-article2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background: url(/assets/img/main-article.jpg);
    background-size: cover;

}

.main-article3 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background: url(/assets/img/main-article.jpg);
    background-size: cover;

}

.main-article1-text {
    grid-row: 2/2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

h5 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bolder;
}

.main-articles1  > img {
    object-fit: contain;
    width: auto;
    height: 100%;
}

.latest-new {
    display: grid;
    grid-template-rows: 30px repeat(8, 1fr);
    grid-gap: 10px;
    height: 879px;
    padding: 24px 0 0 0;
    margin: 0px 0px 28px 0px;
}

h2 {
    font-size: 28px;
    color: #ff4422;
}


.latest-news {
    display: grid;
    grid-template-rows: 5fr 1fr;
    grid-template-columns: 75px 1fr;
    column-gap: 10px;

}

.latest-news-imgcontainer {
    grid-column: 1/1;
    height: 75px;
    overflow: hidden;
}
.latest-news-imgcontainer > img {
    height: 75px;
}
.latest-news > h4 {
    grid-column: 2/2;
    grid-row: 1/1;
}
.latest-news > span {
    grid-column: 2/2;
    grid-row: 2/2
    ;
}

.latest-funding1 {
    display: grid;
    grid-template-columns: 60px 1fr ;
    grid-template-rows: 40px 60px 82px 63px;
}

.latest-funding1 > div > img {
    width: auto;
    height: 50px;
    grid-row: 1/1
    ;
}
